altair
annotated-types
anyio
asttokens
attrs
azure-core
azure-functions
azure-storage-blob
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
contourpy
cryptography
cycler
dateparser
debugpy
decorator
distro
et_xmlfile
exceptiongroup
executing
filelock
fonttools
fpdf
fsspec
gitdb
GitPython
greenlet
groq
h11
httpcore
httpx
huggingface-hub
idna
importlib_metadata
instaloader
ipykernel
ipython
isodate
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kaleido
kiwisolver
langchain-core
langchain-groq
langdetect
langsmith
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mplcyberpunk
msal
narwhals
nest_asyncio
numpy
openai
openpyxl
orjson
outcome
packaging
pandas
parso
pickleshare
pillow
pip
platformdirs
plotly
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pycparser
pydantic
pydantic_core
pydeck
Pygments
PyJWT
pyodbc
pyOpenSSL
pyparsing
PyPDF2
python-dateutil
python-dotenv
pytz
pywin32
PyYAML
pyzmq
referencing
regex
reportlab
requests
requests-toolbelt
rich
rpds-py
sacremoses
seaborn
selenium
setuptools
six
smmap
sniffio
sortedcontainers
SQLAlchemy
stack-data
streamlit
tenacity
tokenizers
toml
torch
tornado
tqdm
traitlets
transformers
trio
trio-websocket
typing_extensions
tzdata
tzlocal
urllib3
urllib3-secure-extra
watchdog
wcwidth
wheel
wsproto
youtube-comment-downloader
yt-dlp
zipp
